.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem 4%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all .5s;
}

.nav_black {
    background-color: #141414;
}

.nav_logo {
    width: 80px;
    object-fit: contain;
}

.nav_avatar {
    width: 35px;
    object-fit: contain;
}