/* Row  */

.row {
    margin-left: 20px;
}

.row_posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 3rem;
}

.row_posters::-webkit-scrollbar {
    display: none;
}

.row_poster {
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    margin-right: .8rem;
    transition: transform 300ms;
}

.row_poster:hover {
    transform: scale(1.1);
}

.row_posterLarge {
    max-height: 250px;
}

.row_posterLarge:hover {
    transform: scale(1.3);
}

/* End of Row  */